---
import Menu from './Menu';
import Burger from './Burger';
import CustomLink from './CustomLink';
import ShoppingCartProductsNumber from './ShoppingCartProductsNumber';

const pathname = Astro.url.pathname;
---
<div class="container flex xs:hidden flex-wrap items-center justify-between mx-auto max-w-xl w-full h-16">
  <div class='flex ml-2 items-center justify-between w-full text-sm font-medium py-4 px-1'>
    <Burger />
    <CustomLink pathname={pathname} href="/cart">
      <span>Cart (</span>
      <ShoppingCartProductsNumber client:only="react" />
      <span>)</span>
    </CustomLink>
  </div>
</div>
<Menu pathname={pathname} />

<script>
  document.querySelector('.hamburger').addEventListener('click', () => {
    document.querySelector('.hamburger-line1').classList.toggle('rotate-45');
    document.querySelector('.hamburger-line1').classList.toggle('translate-y-[0.35em]');
    document.querySelector('.hamburger-line2').classList.toggle('hidden');
    document.querySelector('.hamburger-line3').classList.toggle('-rotate-45');
    document.querySelector('.hamburger-line3').classList.toggle('-translate-y-[0.35em]');
    document.querySelector('.menu').classList.toggle('hidden');
  });
</script>