@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove arrows from number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1 {
  font-size: 1.875rem/* 30px */;
  line-height: 2.25rem/* 36px */;
}

h2 {
  font-size: 1.25rem/* 20px */;
  line-height: 1.75rem/* 28px */;
}

.btn {
  @apply font-bold py-2 px-4 rounded cursor-pointer;
}
.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-green {
  @apply bg-green-500 text-white;
}
.btn-red {
  @apply bg-red-500 text-white;
}
.btn-green:hover {
  @apply bg-green-700;
}
.btn-red:hover {
  @apply bg-red-700;
}
.btn-blue:hover {
  @apply bg-blue-700;
}
.btn-disabled {
  @apply opacity-50 cursor-not-allowed;
}
.input {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:border-blue-500 p-2.5;
}
.card-text {
  @apply text-2xl font-bold tracking-tight
}
.card-secondary-text {
  @apply font-normal
}

input:invalid[focused="true"]{
  border: 1px solid red;
}

input:invalid[focused="true"] ~ span{
  display: block;
}