---
import Layout from '../layouts/Layout.astro';
import HomePageItem from '../components/HomePageItem.jsx';

export const prerender = true;
---

<Layout>
	<h1 class='text-center mb-4'>Welcome to the Web Shop!</h1>
	<div class='xs:grid xs:grid-cols-2 home-page-items'>
		<HomePageItem dataTestid="productsItem" name="Products" href="/products/" />
		<HomePageItem dataTestid="ordersItem" name="Orders" href="/orders/" />
	</div>
</Layout>
